Repository ds-horizon/marco: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: node_modules/.bin/eslint {staged_files}
    types:
      glob: "*.{ts,tsx}"
      run: node_modules/.bin/tsc -p .
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: node_modules/.bin/commitlint --edit

fix: utility function changed
  src/web/App.utility.ts
Due: lint, types

feat: doc correction
  docs/src/content/docs/api/cli/generate-report.mdx
  docs/src/content/docs/api/cli/overview.mdx
  docs/src/content/docs/api/methods.mdx
  docs/src/content/docs/api/tracking-screen.mdx
  docs/src/content/docs/guides/sample-usage.mdx
  docs/src/content/docs/project/introduction.mdx
  docs/src/content/docs/project/quick-start.mdx
Due: none

Revert "feat: doc correction"
  docs/src/content/docs/api/cli/generate-report.mdx
  docs/src/content/docs/api/cli/overview.mdx
  docs/src/content/docs/api/methods.mdx
  docs/src/content/docs/api/tracking-screen.mdx
  docs/src/content/docs/guides/sample-usage.mdx
  docs/src/content/docs/project/introduction.mdx
  docs/src/content/docs/project/quick-start.mdx
Due: none

feat: repo name change
  example/src/App.tsx
  tsconfig.json
Due: lint, types

feat: added queue logic to handle multiple event file wrtie
  android/src/main/java/com/performancetracker/PerformanceTrackerWriter.kt
  example/src/App.tsx
  ios/PerformanceTrackerWriter.m
Due: lint, types

feat: added find pattern helper function
  web/src/utils/helpers.ts
Due: lint, types

feat: refactored docs
  docs/astro.config.ts
  docs/src/components/configuration.astro
  docs/src/components/integration-card.astro
  docs/src/components/reference.astro
  docs/src/content/docs/api/methods.mdx
  docs/src/content/docs/api/static-configuration.mdx
  docs/src/content/docs/api/tracking-screen.mdx
  docs/src/content/docs/guides/sample-usage.mdx
  docs/src/content/docs/project/quick-start.mdx
Due: lint, types

feat: base change
  docs/astro.config.ts
  docs/src/content/docs/api/methods.mdx
  docs/src/pages/index.astro
Due: lint, types

Revert "feat: base change"
  docs/astro.config.ts
  docs/src/content/docs/api/methods.mdx
  docs/src/pages/index.astro
Due: lint, types

temp: base change for testing
  docs/astro.config.ts
  docs/src/pages/index.astro
Due: lint, types

Revert "temp: base change for testing"
  docs/astro.config.ts
  docs/src/pages/index.astro
Due: lint, types

refactor: update logo
  web/src/components/logo.tsx
Due: lint, types

refactor: update favicon
  web/public/favicon.svg
Due: none

feat: removed unused packages
  docs/astro.config.ts
  docs/package.json
  docs/src/utils/cn.ts
  docs/yarn.lock
Due: lint, types

feat: site name added
  .github/workflows/deploy.yml
  docs/README.md
  docs/astro.config.ts
  docs/src/constants.ts
  docs/src/content/docs/api/methods.mdx
  docs/src/overrides/head.astro
Due: lint, types

feat: site description changed
  docs/src/overrides/head.astro
Due: none

feat: add charts and do rough ui structure
  web/index.html
  web/package.json
  web/src/App.tsx
  web/src/components/ui/button.tsx
  web/src/components/ui/card.tsx
  web/src/components/ui/chart.tsx
  web/src/global.css
  web/src/header.tsx
  web/src/index.tsx
  web/src/utils/cn.ts
  web/src/utils/data.ts
  web/src/utils/helpers.ts
  web/yarn.lock
Due: lint, types

refactor: randomize color of charts
  web/src/App.tsx
  web/src/data.tsx
  web/src/utils/data.ts
  web/src/utils/helpers.ts
Due: lint, types

refactor: update color generation logic to not give people a seizure
  web/src/App.tsx
  web/src/data.tsx
  web/src/utils/data.ts
Due: lint, types

feat: make the graphs actually readable
  web/src/App.tsx
Due: lint, types

feat: add rudimentary data table
  web/components.json
  web/package.json
  web/src/App.tsx
  web/src/components/data-table.tsx
  web/src/components/ui/table.tsx
  web/yarn.lock
Due: lint, types

feat: added std and error rate method
  web/src/utils/data.ts
Due: lint, types

feat: marco import changed
  example/src/App.tsx
Due: lint, types

docs: routing fix for overview
  docs/src/content/docs/api/cli/overview.mdx
Due: none

docs: route change
  docs/src/content/docs/api/cli/overview.mdx
Due: none

refactor: address all ui concerns
  web/package.json
  web/src/App.tsx
  web/src/components/ui/checkbox.tsx
  web/src/global.css
  web/src/header.tsx
  web/src/utils/data.ts
  web/tailwind.config.ts
  web/yarn.lock
Due: lint, types

fix: standard deviation and error
  web/src/App.tsx
Due: lint, types

fix: carts legend and tooltip
  web/src/App.tsx
Due: lint, types

feat: added method for android
  android/src/main/java/com/performancetracker/PerformanceTracker.kt
  android/src/main/java/com/performancetracker/PerformanceTrackerModuleImpl.kt
  android/src/main/java/com/performancetracker/PerformanceTrackerWriter.kt
  example/android/app/src/main/java/performancetracker/example/MainApplication.kt
Due: none

feat: ios method added
  android/src/main/java/com/performancetracker/PerformanceTrackerModuleImpl.kt
  example/ios/PerformanceTrackerExample/AppDelegate.mm
  ios/PerformanceTracker.h
  ios/PerformanceTracker.m
  ios/PerformanceTrackerModule.h
  ios/PerformanceTrackerModule.mm
  ios/PerformanceTrackerView.m
  ios/PerformanceTrackerView.mm
  ios/PerformanceTrackerWriter.h
  ios/PerformanceTrackerWriter.m
  src/NativePerformanceTracker.ts
  src/index.tsx
Due: lint, types

fix: empty state screen
  web/src/App.tsx
Due: lint, types

docs: native component doc updated
  docs/astro.config.ts
  docs/src/content/docs/api/native-event.mdx
  docs/src/content/docs/api/static-configuration.mdx
  docs/src/content/docs/project/introduction.mdx
Due: lint, types

feat: add powered by dream sports labs
  assets/dream-sports-lab.svg
  web/src/components/logo.tsx
  web/src/components/powered-by.tsx
  web/src/header.tsx
Due: lint, types

feat: add iteration data as a timeline
  web/src/App.tsx
Due: lint, types

feat: metrics added
  web/src/App.tsx
  web/src/data.tsx
  web/src/utils/data.ts
  web/src/utils/helpers.ts
Due: lint, types

feat: upgrade iteration browsing experience
  web/src/App.tsx
Due: lint, types

feat: add select/deselect all
  web/src/App.tsx
  web/src/components/powered-by.tsx
Due: lint, types

feat: added web shipping script
  package.json
  src/scripts/serve-dashboard.js
  web/public/mock/log.json
  web/src/App.tsx
  web/src/components/powered-by.tsx
  web/src/data.tsx
  web/vite.config.ts
Due: lint, types

feat: serve added as a dependency
  package.json
  src/scripts/serve-dashboard.js
Due: lint
