Repository ds-horizon/marco: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: node_modules/.bin/eslint {staged_files}
    types:
      glob: "*.{ts,tsx}"
      run: node_modules/.bin/tsc -p .
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: node_modules/.bin/commitlint --edit

feat: side bar added
  web/src/App.tsx
  web/src/components/sidebar.tsx
  web/src/data-multiple.tsx
Due: lint, types

fix: base changed
  web/vite.config.ts
Due: lint, types

feat: breakdown components in smaller chunks
  web/src/App.tsx
  web/src/components/empty-page.tsx
  web/src/components/stacked-bar-chart.tsx
  web/src/components/timeline-row.tsx
Due: lint, types

feat: added multiple event logic to side bar
  web/src/App.tsx
  web/src/components/sidebar.tsx
  web/src/data-multiple.tsx
Due: lint, types

feat: npm version and downloads added
  README.md
Due: none

fix: type cast fix for ios
  ios/PerformanceTrackerView.m
  ios/PerformanceTrackerView.mm
Due: none

fix: base changed (#17)
  README.md
  ios/PerformanceTrackerView.m
  ios/PerformanceTrackerView.mm
  web/vite.config.ts
Due: lint, types

feat: multiple report support added
  web/package.json
  web/src/App.tsx
  web/src/components/select-report.tsx
  web/src/components/sidebar.tsx
  web/src/components/ui/select.tsx
  web/src/data-multiple.tsx
  web/yarn.lock
Due: lint, types

feat: refactored total itr and stats data
  web/src/App.tsx
  web/src/components/data-container.tsx
  web/src/components/stacked-bar-chart.tsx
  web/src/utils/helpers.ts
Due: lint, types

feat: added accordian
  web/package.json
  web/src/components/data-container.tsx
  web/src/components/raw-data-accordian.tsx
  web/src/components/ui/accordion.tsx
  web/src/global.css
  web/tailwind.config.ts
  web/yarn.lock
Due: lint, types

feat: added scroll aread
  web/package.json
  web/src/App.tsx
  web/src/components/data-container.tsx
  web/src/components/empty-page.tsx
  web/src/components/raw-data-accordian.tsx
  web/src/components/ui/scroll-area.tsx
  web/yarn.lock
Due: lint, types

feat: example app link fix
  docs/src/content/docs/guides/app-startup.mdx
  docs/src/content/docs/guides/multiple-events.mdx
Due: none

feat: report order corrected
  web/src/App.tsx
  web/src/components/sidebar.tsx
Due: lint, types

feat: added frame motion
  web/package.json
  web/src/App.tsx
  web/yarn.lock
Due: lint, types

feat: added comparison chart support
  web/src/App.tsx
  web/src/components/bar-chart-multiple.tsx
  web/src/components/sidebar.tsx
  web/src/data-multiple.tsx
  web/src/data.tsx
Due: lint, types

feat: added comparison cta
  web/src/App.tsx
  web/src/components/bar-chart-multiple.tsx
  web/src/data-multiple.tsx
  web/src/utils/helpers.ts
Due: lint, types

feat: added tooltip for comparison cta
  web/package.json
  web/src/App.tsx
  web/src/components/sidebar.tsx
  web/src/components/ui/tooltip.tsx
  web/yarn.lock
Due: lint, types

feat: changed cli logic to pass multiple reports
  src/scripts/cli.js
  src/scripts/serve-dashboard.js
  web/public/mock/log.json
  web/public/mock/log1.json
  web/public/mock/log2.json
  web/public/mock/manifest.json
  web/public/mock/native_load_time.json
  web/src/components/sidebar.tsx
  web/src/data-multiple.tsx
Due: lint, types

feat: make data horizontally scrollable
  web/src/components/raw-data-accordian.tsx
Due: lint, types

feat: lint fix
  web/src/data-multiple.tsx
  web/src/data.tsx
  web/src/utils/helpers.ts
Due: lint, types

feat: prettier fix
  web/README.md
  web/public/mock/log1.json
  web/public/mock/log2.json
  web/public/mock/manifest.json
  web/src/App.tsx
  web/src/components/bar-chart-multiple.tsx
  web/src/components/data-container.tsx
  web/src/components/empty-page.tsx
  web/src/components/raw-data-accordian.tsx
  web/src/components/select-report.tsx
  web/src/components/sidebar.tsx
  web/src/components/stacked-bar-chart.tsx
  web/src/components/timeline-row.tsx
  web/src/components/ui/accordion.tsx
  web/src/components/ui/scroll-area.tsx
  web/src/components/ui/select.tsx
  web/src/components/ui/tooltip.tsx
  web/src/global.css
  web/tailwind.config.ts
Due: lint, types

feat: filename changed
  web/src/App.tsx
  web/src/components/analytics-card/data-table.tsx
  web/src/components/analytics-card/event-timeline-accordian.tsx
  web/src/components/analytics-card/event-timeline.tsx
  web/src/components/analytics-card/report-insights-cards.tsx
  web/src/components/charts/comparison-bar-chart.tsx
  web/src/components/charts/segmented-bar-chart.tsx
  web/src/components/sidebar/report-picker.tsx
  web/src/components/sidebar/sidebar.tsx
  web/src/data.tsx
Due: lint, types

feat: naming convention imrpoved
  web/src/App.tsx
  web/src/components/charts/comparison-bar-chart.tsx
  web/src/components/sidebar/sidebar.tsx
  web/src/utils/helpers.ts
Due: lint, types

feat: fix comparison dashboard
  web/src/data.tsx
Due: lint, types

feat: mock changed
  web/public/mock/log1.json
  web/public/mock/log2.json
  web/public/mock/log3.json
  web/public/mock/log4.json
  web/public/mock/manifest.json
  web/src/App.tsx
  web/src/data.tsx
Due: lint, types

feat: added yaxis number for comparison
  web/src/components/charts/comparison-bar-chart.tsx
Due: lint, types

feat: added support for report names
  src/scripts/cli.js
  src/scripts/serve-dashboard.js
Due: lint

feat: port read from config file
  src/scripts/cli.js
Due: lint

fix: max iteration logic in comparison chart
  web/src/data.tsx
Due: lint, types

feat: added active report indicator
  web/src/App.tsx
  web/src/components/charts/comparison-bar-chart.tsx
  web/src/components/sidebar/report-picker.tsx
  web/src/components/sidebar/sidebar.tsx
Due: lint, types

feat: displaying mean data on comparison
  web/package.json
  web/src/components/charts/comparison-bar-chart.tsx
  web/src/components/ui/switch.tsx
  web/yarn.lock
Due: lint, types

feat: example app link fix (#19)
  docs/src/content/docs/guides/app-startup.mdx
  docs/src/content/docs/guides/multiple-events.mdx
Due: none

feat: tabs added for panel
  web/package.json
  web/src/App.tsx
  web/src/components/charts/comparison-bar-chart.tsx
  web/src/components/empty-page.tsx
  web/src/components/ui/tabs.tsx
  web/src/data.tsx
  web/yarn.lock
Due: lint, types

feat: added support for java and swift files
  android/src/main/java/com/performancetracker/PerformanceTracker.kt
  react-native-performance-tracker.podspec
Due: none

feat: version and desc changed
  package.json
Due: none

fix: support for java and swift files added (#21)
  android/src/main/java/com/performancetracker/PerformanceTracker.kt
  package.json
  react-native-performance-tracker.podspec
Due: none

feat: width change
  web/src/components/charts/comparison-bar-chart.tsx
Due: lint, types

fix: added individual report
  web/src/App.tsx
  web/src/components/sidebar/ComparisionPanelSidebar.tsx
  web/src/components/sidebar/IndividualReportSidebar.tsx
  web/src/header.tsx
Due: lint, types

fix: added individual report
  web/package-lock.json
  web/package.json
  web/src/App.tsx
  web/src/components/sidebar/ComparisonPanelSidebar.tsx
  web/src/components/ui/collapsible.tsx
  web/src/components/ui/select.tsx
  web/yarn.lock
Due: lint, types

fix: added individual report
  web/src/components/sidebar/ComparisonPanelSidebar.tsx
Due: lint, types
