Repository ds-horizon/marco: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lint:
  run: node_modules/.bin/eslint {staged_files}

types:
  run: node_modules/.bin/tsc -p .

feat(web): updated web to hide scroll bar
  dist/bundle.js
  package.json
  src/web/components/TimelineSelector.css
  src/web/components/TimelineSelector.tsx
Due: lint, types

feat: added web bundle dir path option
  src/scripts/cli.js
  src/scripts/serve-dashboard.js
Due: lint

feat: added mock data
  example/mock/log.json
Due: none

Revert "feat: added web bundle dir path option"
  src/scripts/cli.js
  src/scripts/serve-dashboard.js
Due: lint

feat: dynamic port capability added in web
  dist/bundle.js
  src/web/App.utility.ts
  src/web/components/Home.tsx
Due: lint, types

feat: cleared commented code
  dist/bundle.js
  src/web/components/Home.tsx
  src/web/components/TimelineSelector.tsx
Due: lint, types

feat: introduction changed
  docs/.eslintrc.json
  docs/README.md
  docs/astro.config.ts
  docs/src/content/docs/guides/log-file-paths.mdx
  docs/src/content/docs/guides/performance-log.mdx
  docs/src/content/docs/guides/resetting-logs.mdx
  docs/src/content/docs/guides/retrieving-logs.mdx
  docs/src/content/docs/guides/sending-markers.mdx
  docs/src/content/docs/guides/tracking-screen.mdx
  docs/src/content/docs/project/basic-setup.mdx
  docs/src/content/docs/project/installation.mdx
  docs/src/content/docs/project/introduction.mdx
  docs/src/content/docs/project/quick-start.mdx
  docs/src/content/docs/reference/package-core.mdx
  docs/src/content/docs/reference/package-react.mdx
  docs/src/overrides/head.astro
  docs/src/pages/index.astro
Due: lint, types

feat: updated docs
  docs/astro.config.ts
  docs/src/content/docs/api/component-props.mdx
  docs/src/content/docs/api/event-object.mdx
  docs/src/content/docs/api/native-modules.mdx
  docs/src/content/docs/guides/tracking-screen.mdx
Due: lint, types

feat: readme update
  README.md
  docs/src/content/docs/project/introduction.mdx
  docs/src/pages/index.astro
Due: none

feat: project cleanup
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.6.1.cjs
  .yarnrc.yml
  example/.yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  example/.yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  example/.yarn/releases/yarn-3.6.1.cjs
  example/.yarnrc.yml
  example/src/App.tsx
  package.json
  src/scripts/serve-dashboard.js
  tsconfig.json
  yarn.lock
Due: lint, types

feat: added code owner and vscode extensions
  .github/CODEOWNERS
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
  docs/.vscode/extensions.json
  docs/.vscode/launch.json
Due: none

feat: updated readme
  README.md
  media/logo.png
Due: none

feat: updated readme
  README.md
Due: none

feat: renamed files
  docs/astro.config.ts
  docs/src/assets/dashboard.gif
  docs/src/content/docs/api/log-file-paths.mdx
  docs/src/content/docs/api/performance-log.mdx
  docs/src/content/docs/api/resetting-logs.mdx
  docs/src/content/docs/api/retrieving-logs.mdx
  docs/src/content/docs/api/sending-markers.mdx
  docs/src/content/docs/api/tracking-screen.mdx
  docs/src/content/docs/cli/configuration.mdx
  docs/src/content/docs/cli/generate-report.mdx
  docs/src/content/docs/cli/overview.mdx
  docs/src/content/docs/cli/visualization.mdx
  docs/src/content/docs/project/introduction.mdx
  docs/yarn.lock
Due: lint, types

feat: updated logo and banner
  docs/astro.config.ts
  docs/public/banner.png
  docs/src/assets/logo-dark.png
  docs/src/assets/logo-dark.svg
  docs/src/assets/logo-light.png
  docs/src/assets/logo-light.svg
  docs/src/content/docs/project/quick-start.mdx
Due: lint, types

feat: updated banner
  docs/public/banner.png
Due: none

feat: updated script
  package.json
  src/scripts/cli.js
  yarn.lock
Due: lint

feat: quick start updated
  docs/src/content/docs/project/quick-start.mdx
Due: none

feat: doc re structured
  docs/astro.config.ts
  docs/src/content/docs/api/cli/generate-report.mdx
  docs/src/content/docs/api/cli/overview.mdx
  docs/src/content/docs/api/cli/visualization.mdx
  docs/src/content/docs/project/quick-start.mdx
  docs/src/content/docs/sample-usage.mdx
  docs/src/overrides/head.astro
  docs/yarn.lock
Due: lint, types

chore: init packages folder
  package.json
  packages/@marco/README.md
  packages/@marco/package.json
  packages/cli/README.md
  packages/cli/package.json
  packages/core/README.md
  packages/core/package.json
  packages/dashboard/README.md
  packages/dashboard/package.json
  yarn.lock
Due: none

feat: docs updated
  docs/astro.config.ts
  docs/src/content/docs/api/cli/generate-report.mdx
  docs/src/content/docs/api/cli/overview.mdx
  docs/src/content/docs/api/cli/visualization.mdx
  docs/src/content/docs/api/log-file-paths.mdx
  docs/src/content/docs/api/methods.mdx
  docs/src/content/docs/api/performance-log.mdx
  docs/src/content/docs/api/resetting-logs.mdx
  docs/src/content/docs/api/retrieving-logs.mdx
  docs/src/content/docs/api/sending-markers.mdx
  docs/src/content/docs/api/static-configuration.mdx
  docs/src/content/docs/api/tracking-screen.mdx
Due: lint, types

feat: updated logo and banner
  docs/public/banner.png
  docs/public/favicon.svg
  docs/src/assets/logo-dark.svg
  docs/src/assets/logo-light.svg
Due: none

chore: remove `dist` from git
  dist/bundle.js
  dist/bundle.js.LICENSE.txt
  dist/e3356e2cf532ba26ecf8cd0fee329eac.png
  dist/index.html
Due: lint

chore: update `.gitignore`
  .gitignore
Due: none

feat: updated docs
  docs/astro.config.ts
  docs/src/content/docs/guides/sample-usage.mdx
  docs/src/content/docs/project/quick-start.mdx
  docs/src/content/docs/sample-usage.mdx
Due: lint, types

feat: readme updated
  README.md
Due: none

feat: removed litn for docs
  .eslintignore
  dist/bundle.js
  docs/.eslintrc.json
  docs/.prettierrc
  docs/global.d.ts
  docs/package.json
  docs/yarn.lock
  src/web/components/Home.tsx
Due: lint, types

refactor: make data access easier within react code
  web/src/data.tsx
Due: lint, types

chore: add GitHub Pages deploy workflow for docs
  .github/workflows/deploy.yml
Due: none

feat: config changed
  docs/astro.config.ts
Due: lint, types

feat: deploy script changed
  .github/workflows/deploy.yml
Due: none

feat: changed configs astro
  README.md
  docs/astro.config.ts
  docs/src/overrides/head.astro
Due: lint, types

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{ts,tsx}
