Repository ds-horizon/marco: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lint:
  run: node_modules/.bin/eslint {staged_files}

types:
  run: node_modules/.bin/tsc -p .

fix: select all by default on first launch
  web/src/App.tsx
  web/src/components/sidebar/ComparisionPanelSidebar.tsx
Due: lint, types

fix: clear all issue
  web/src/App.tsx
  web/src/components/analytics-card/report-insights-cards.tsx
Due: lint, types

fix: individual panel ui issues
  web/src/components/sidebar/IndividualReportSidebar.tsx
Due: lint, types

fix: added occurences count
  web/src/components/sidebar/ComparisonPanelSidebar.tsx
Due: lint, types

fix: disable prev tags if later tags are selected
  web/src/components/sidebar/ComparisonPanelSidebar.tsx
  web/src/components/sidebar/IndividualReportSidebar.tsx
Due: lint, types

fix: ui issues
  web/src/components/sidebar/ComparisonPanelSidebar.tsx
  web/src/components/sidebar/IndividualReportSidebar.tsx
Due: lint, types

fix: added select all icon
  web/src/components/sidebar/ComparisonPanelSidebar.tsx
Due: lint, types

fix: renamed compare reports
  web/src/header.tsx
Due: lint, types

fix: made event selection independent
  web/src/App.tsx
Due: lint, types

fix: event name on hover
  web/src/components/sidebar/ComparisonPanelSidebar.tsx
  web/src/components/sidebar/IndividualReportSidebar.tsx
Due: lint, types

fix: event state issue
  web/src/App.tsx
Due: lint, types

fix: ui issue in sidebar individual
  web/src/components/sidebar/IndividualReportSidebar.tsx
Due: lint, types

fix: hiden clear button in comparision panel
  web/src/components/sidebar/ComparisonPanelSidebar.tsx
Due: lint, types

fix: in compare report made mean data by default and removed clear button
  web/src/components/charts/comparison-bar-chart.tsx
Due: lint, types

fix: made selection independent of both reports
  web/src/App.tsx
Due: lint, types

fix: changed dropdown
  web/package.json
  web/src/components/sidebar/ComparisonPanelSidebar.tsx
  web/src/components/sidebar/IndividualReportSidebar.tsx
  web/yarn.lock
Due: lint, types

fix: all deselect issue fixed
  web/src/components/sidebar/ComparisonPanelSidebar.tsx
Due: lint, types

fix: added tooltip for disabled events
  web/src/components/sidebar/ComparisonPanelSidebar.tsx
  web/src/components/sidebar/IndividualReportSidebar.tsx
Due: lint, types

fix: added empty msg
  web/src/App.tsx
Due: lint, types

fix: horizontal scrolling issue on individual report
  web/src/components/analytics-card/report-insights-cards.tsx
Due: lint, types

fix: added tabs in header
  web/src/header.tsx
Due: lint, types

fix: compare report button disabled loggic issue
  web/src/App.tsx
  web/src/components/sidebar/ComparisonPanelSidebar.tsx
Due: lint, types

fix: deleted package-lock file
  web/package-lock.json
Due: none

fix: removed unused component
  web/src/components/sidebar/report-picker.tsx
  web/src/components/sidebar/sidebar.tsx
Due: lint, types

fix: update marco config file
  docs/src/content/docs/api/cli/overview.mdx
  docs/src/content/docs/guides/app-startup.mdx
  docs/src/content/docs/guides/screen-load.mdx
  docs/src/content/docs/project/quick-start.mdx
Due: none

fix: update command description
  docs/src/content/docs/api/cli/visualization.mdx
Due: none

fix: removed commented code
  web/src/components/sidebar/ComparisonPanelSidebar.tsx
Due: lint, types

fix: resolved pr comments
  src/scripts/cli.js
  src/scripts/serve-dashboard.js
Due: lint

fix: rename chart config file
  web/src/App.tsx
Due: lint, types

fix: remove prettier
  web/package.json
  web/yarn.lock
Due: none

fix: added doc changes
  docs/src/content/docs/api/cli/overview.mdx
  docs/src/content/docs/api/cli/visualization.mdx
  docs/src/content/docs/guides/app-startup.mdx
  docs/src/content/docs/guides/screen-load.mdx
  docs/src/content/docs/project/quick-start.mdx
Due: none

fix: updated doc
  docs/src/content/docs/project/introduction.mdx
  docs/src/content/docs/project/quick-start.mdx
Due: none

Fix/marco revamp (#22)
  src/scripts/cli.js
  src/scripts/serve-dashboard.js
  web/README.md
  web/package.json
  web/public/mock/log.json
  web/public/mock/log1.json
  web/public/mock/log2.json
  web/public/mock/log3.json
  web/public/mock/log4.json
  web/public/mock/manifest.json
  web/src/App.tsx
  web/src/components/analytics-card/data-table.tsx
  web/src/components/analytics-card/event-timeline-accordian.tsx
  web/src/components/analytics-card/event-timeline.tsx
  web/src/components/analytics-card/report-insights-cards.tsx
  web/src/components/charts/comparison-bar-chart.tsx
  web/src/components/charts/segmented-bar-chart.tsx
  web/src/components/empty-page.tsx
  web/src/components/sidebar/ComparisonPanelSidebar.tsx
  web/src/components/sidebar/IndividualReportSidebar.tsx
  web/src/components/ui/accordion.tsx
  web/src/components/ui/collapsible.tsx
  web/src/components/ui/scroll-area.tsx
  web/src/components/ui/select.tsx
  web/src/components/ui/switch.tsx
  web/src/components/ui/tabs.tsx
  web/src/components/ui/tooltip.tsx
  web/src/data.tsx
  web/src/global.css
  web/src/header.tsx
  web/src/utils/helpers.ts
  web/tailwind.config.ts
  web/yarn.lock
Due: lint, types

fix: fix ui issues
  web/src/components/sidebar/ComparisonPanelSidebar.tsx
Due: lint, types

fix: doc updated
  docs/src/content/docs/api/cli/overview.mdx
  docs/src/content/docs/api/cli/visualization.mdx
  docs/src/content/docs/guides/app-startup.mdx
  docs/src/content/docs/guides/screen-load.mdx
  docs/src/content/docs/project/introduction.mdx
  docs/src/content/docs/project/quick-start.mdx
Due: none

fix: updated doc and log data
  docs/src/assets/dashboard.gif
  web/public/mock/manifest.json
  web/public/mock/newArch.json
  web/public/mock/oldArch.json
Due: none

fix: updated read me
  README.md
Due: none

fix: updated version
  package.json
Due: none

fix: fix ui issues (#24)
  README.md
  docs/src/assets/dashboard.gif
  docs/src/content/docs/api/cli/overview.mdx
  docs/src/content/docs/api/cli/visualization.mdx
  docs/src/content/docs/guides/app-startup.mdx
  docs/src/content/docs/guides/screen-load.mdx
  docs/src/content/docs/project/introduction.mdx
  docs/src/content/docs/project/quick-start.mdx
  package.json
  web/public/mock/manifest.json
  web/public/mock/newArch.json
  web/public/mock/oldArch.json
  web/src/components/sidebar/ComparisonPanelSidebar.tsx
Due: lint, types

fix: ui issues
  web/src/components/sidebar/ComparisonPanelSidebar.tsx
  web/src/components/sidebar/IndividualReportSidebar.tsx
  web/src/components/ui/scroll-area.tsx
Due: lint, types

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{ts,tsx}
