Repository ds-horizon/marco: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: node_modules/.bin/eslint {staged_files}
    types:
      glob: "*.{ts,tsx}"
      run: node_modules/.bin/tsc -p .
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: node_modules/.bin/commitlint --edit

fix: updated yarn lock
  yarn.lock
Due: none

fix: lint fixes
  web/eslint.config.js
  web/postcss.config.js
  web/tailwind.config.ts
Due: lint, types

Revert "feat: native method support added"
  android/src/main/java/com/performancetracker/PerformanceTracker.kt
  android/src/main/java/com/performancetracker/PerformanceTrackerModuleImpl.kt
  android/src/main/java/com/performancetracker/PerformanceTrackerWriter.kt
  example/android/app/src/main/java/performancetracker/example/MainApplication.kt
  example/ios/PerformanceTrackerExample/AppDelegate.mm
  ios/PerformanceTracker.h
  ios/PerformanceTracker.m
  ios/PerformanceTracker.mm
  ios/PerformanceTrackerModule.h
  ios/PerformanceTrackerView.m
  ios/PerformanceTrackerView.mm
  ios/PerformanceTrackerWriter.h
  ios/PerformanceTrackerWriter.m
  src/NativePerformanceTracker.ts
  src/index.tsx
Due: lint, types

feat: added app start up and multiple event use case
  android/src/newarch/PerformanceTrackerViewManager.kt
  docs/src/assets/app-startup-raw.png
  docs/src/assets/app-startup-timeline.png
  docs/src/assets/multiple-events-metrics.png
  docs/src/assets/multiple-events-raw.png
  docs/src/assets/multiple-events-timeline.png
  docs/src/content/docs/guides/app-startup.mdx
  docs/src/content/docs/guides/multiple-events.mdx
  docs/yarn.lock
  web/public/mock/log.json
Due: none

feat: mock data changed to app startup
  docs/src/content/docs/guides/sample-usage.mdx
  web/public/mock/log.json
Due: none

feat: sample usage added
  docs/src/assets/dashboard.gif
  docs/src/assets/multiple-events-metrics.png
  docs/src/assets/multiple-events-raw.png
  docs/src/assets/multiple-events-timeline.png
  docs/src/content/docs/api/cli/overview.mdx
  docs/src/content/docs/api/cli/visualization.mdx
  docs/src/content/docs/api/methods.mdx
  docs/src/content/docs/api/native-event.mdx
  docs/src/content/docs/api/static-configuration.mdx
  docs/src/content/docs/guides/app-startup.mdx
  docs/src/content/docs/guides/multiple-events.mdx
  docs/src/content/docs/guides/screen-load.mdx
  docs/src/content/docs/project/introduction.mdx
  docs/src/content/docs/project/quick-start.mdx
  example/android/app/src/main/java/performancetracker/example/MainActivity.kt
  example/android/app/src/main/java/performancetracker/example/MainApplication.kt
  example/ios/PerformanceTrackerExample/AppDelegate.mm
  example/src/App.tsx
  src/scripts/cli.js
Due: lint, types

feat: react version downgraded
  package.json
  yarn.lock
Due: none

feat: deploy workflow target changed
  .github/workflows/deploy.yml
Due: none

feat: removed console statements
  package.json
  src/scripts/cli.js
  src/scripts/serve-dashboard.js
  web/src/data.tsx
  web/src/utils/data.ts
Due: lint, types

feat: npm package name change
  example/src/App.tsx
  package.json
  src/scripts/serve-dashboard.js
  tsconfig.json
  yarn.lock
Due: lint, types

feat: default path updated to marco
  .gitignore
  docs/src/content/docs/api/cli/generate-report.mdx
  docs/src/content/docs/api/cli/overview.mdx
  docs/src/content/docs/api/cli/visualization.mdx
  docs/src/content/docs/project/quick-start.mdx
  src/scripts/cli.js
Due: lint

feat: navigation link changed
  docs/src/content/docs/api/cli/overview.mdx
  docs/src/content/docs/api/methods.mdx
  docs/src/content/docs/api/native-event.mdx
  docs/src/content/docs/api/static-configuration.mdx
  docs/src/content/docs/guides/screen-load.mdx
Due: none

feat: added roadmap section
  docs/src/content/docs/project/introduction.mdx
Due: none

feat: roadmap point updated
  docs/src/content/docs/project/introduction.mdx
Due: none

feat: readme updated
  README.md
  docs/astro.config.ts
Due: lint, types

feat: app startup and multiple event usage documentation (#13)
  .github/workflows/deploy.yml
  .gitignore
  README.md
  android/src/newarch/PerformanceTrackerViewManager.kt
  docs/astro.config.ts
  docs/src/assets/app-startup-raw.png
  docs/src/assets/app-startup-timeline.png
  docs/src/assets/dashboard.gif
  docs/src/assets/multiple-events-metrics.png
  docs/src/assets/multiple-events-raw.png
  docs/src/assets/multiple-events-timeline.png
  docs/src/content/docs/api/cli/generate-report.mdx
  docs/src/content/docs/api/cli/overview.mdx
  docs/src/content/docs/api/cli/visualization.mdx
  docs/src/content/docs/api/methods.mdx
  docs/src/content/docs/api/native-event.mdx
  docs/src/content/docs/api/static-configuration.mdx
  docs/src/content/docs/guides/app-startup.mdx
  docs/src/content/docs/guides/multiple-events.mdx
  docs/src/content/docs/guides/screen-load.mdx
  docs/src/content/docs/project/introduction.mdx
  docs/src/content/docs/project/quick-start.mdx
  docs/yarn.lock
  example/android/app/src/main/java/performancetracker/example/MainActivity.kt
  example/android/app/src/main/java/performancetracker/example/MainApplication.kt
  example/ios/PerformanceTrackerExample/AppDelegate.mm
  example/src/App.tsx
  package.json
  src/scripts/cli.js
  src/scripts/serve-dashboard.js
  tsconfig.json
  web/public/mock/log.json
  web/src/data.tsx
  web/src/utils/data.ts
  yarn.lock
Due: lint, types

feat: discord url added
  docs/astro.config.ts
Due: lint, types

feat: release script added
  .gitignore
  .yarnrc.yml
  package.json
  scripts/publish.ts
  yarn.lock
Due: lint, types

feat: meta data changed
  docs/src/overrides/head.astro
  docs/src/pages/index.astro
Due: none

feat: cli changed
  docs/src/content/docs/api/cli/generate-report.mdx
  docs/src/content/docs/api/cli/overview.mdx
  docs/src/content/docs/api/cli/visualization.mdx
  docs/src/content/docs/guides/app-startup.mdx
  docs/src/content/docs/guides/multiple-events.mdx
  docs/src/content/docs/guides/screen-load.mdx
  docs/src/content/docs/project/quick-start.mdx
  src/scripts/cli.js
Due: lint

feat: package json script cleanup
  .github/workflows/ci.yml
  package.json
Due: none

refactor: updated configuration to reflect platform-specific settings and updated docs (#14)
  .github/workflows/ci.yml
  .gitignore
  .yarnrc.yml
  docs/astro.config.ts
  docs/src/content/docs/api/cli/generate-report.mdx
  docs/src/content/docs/api/cli/overview.mdx
  docs/src/content/docs/api/cli/visualization.mdx
  docs/src/content/docs/guides/app-startup.mdx
  docs/src/content/docs/guides/multiple-events.mdx
  docs/src/content/docs/guides/screen-load.mdx
  docs/src/content/docs/project/quick-start.mdx
  docs/src/overrides/head.astro
  docs/src/pages/index.astro
  package.json
  scripts/publish.ts
  src/scripts/cli.js
  yarn.lock
Due: lint, types

feat: comparison dashboard added
  web/public/mock/js_load_time.json
  web/public/mock/native_load_time.json
  web/src/App.tsx
  web/src/components/bar-chart-multiple.tsx
  web/src/data.tsx
Due: lint, types

logic added
  web/src/App.tsx
  web/src/data.tsx
Due: lint, types

fix: typo fixed
  src/scripts/serve-dashboard.js
Due: lint

feat: bundle minifier enabled
  web/vite.config.ts
Due: lint, types

feat: added ga token
  .github/workflows/deploy.yml
  docs/astro.config.ts
  package.json
Due: lint, types

feat: added sarthak as code owner
  .github/CODEOWNERS
Due: none

feat: added google analytics support (#15)
  .github/CODEOWNERS
  .github/workflows/deploy.yml
  docs/astro.config.ts
  package.json
  src/scripts/serve-dashboard.js
  web/vite.config.ts
Due: lint, types

feat: changed script tag
  .github/workflows/deploy.yml
  docs/astro.config.ts
  docs/src/overrides/head.astro
Due: lint, types

fix: added logs for ga token
  docs/astro.config.ts
  docs/src/overrides/head.astro
Due: lint, types

fix: added env variable
  docs/astro.config.ts
  docs/src/overrides/head.astro
Due: lint, types

fix: added astro string template
  docs/src/overrides/head.astro
Due: none

feat: moved ga script to head
  docs/src/overrides/head.astro
Due: none

feat: removed other branches check from deploy script
  .github/workflows/deploy.yml
Due: none

fix: google analytics (#16)
  docs/astro.config.ts
  docs/src/overrides/head.astro
Due: lint, types

feat: added multiple bar chart support
  web/public/mock/js_load_time.json
  web/public/mock/native_load_time.json
  web/src/App.tsx
  web/src/components/bar-chart-multiple.tsx
  web/src/data.tsx
Due: lint, types
